.listing-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @include respond(med-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
  @include respond(lg-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__links {
    display: flex;
    justify-content: center;
  }
}
.listing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0.2rem 0.5rem rgba($dark-color, 0.5);
  border: $light-color 1px solid;

  &__img {
    height: auto;
    width: 90%;
    border-radius: 10px;
    margin: 1rem 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: space-between;

    &--links {
      text-align: center;
    }

    &--title {
    }
  }
}
