.user-form-all {
  background-image: url(./img/form-img2.jpg);
  background-size: cover;
  background-position: bottom;
}

.user-form {
  margin-top: 5rem;
  border: $light-color solid 1px;
  box-shadow: 0 0.2rem 0.5rem rgba($dark-color, 0.8);
  padding: 1rem;
  width: 75%;
  background-color: rgba($light-color, 0.9);
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__form-area {
    & .form-group {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }
    & input {
      width: 95%;
      border-radius: 2px;
      border: rgba($primary-color, 0.45) solid 1px;
      font-family: inherit;
      font-size: inherit;
      padding: 0.5rem 1rem;
    }
    & .error-msg {
      font-size: 0.8rem;
    }
    & label {
      font-size: 0.8rem;
    }
  }
  &__img {
    background: linear-gradient(
        rgba($dark-color, 0.45),
        rgba($primary-color, 0.45)
      ),
      url(./img/insideform-img.jpg);

    background-size: cover;
    background-position: center;
    border-radius: 2px;
    @include respond(phone) {
      display: none;
    }
  }

  &__title {
    text-align: center;
  }

  & .btn {
    width: 95%;
    margin-top: 2rem;
  }
}
