.dropzone {
  background-color: rgba(#cacaca, 0.8);

  padding: 3rem;
  border: 1px rgba($primary-color, 0.5) dashed;
  margin: 1rem 1rem 4rem 1rem;
  width: 75%;
  text-align: center;
}

.fileupload {
  &__imgitem {
    position: relative;
    margin: 0.5rem;
    &-img {
      width: 10rem;
      height: 10rem;
    }
    span {
      position: absolute;
      left: 0;
      right: 0;
    }
  }

  &__items {
    display: flex;
    padding: 1rem;
    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__header-secondary {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    & .btn {
      text-align: center;
      width: 50%;
    }
  }

  & #fileupload {
    height: 10rem;
    background-image: url(./img/header-3.jpg);
    background-size: cover;
    background-position: bottom;
    & .heading-secondary__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5rem;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }

  & h2 {
    @include respond(tab-port) {
      display: block;
      font-size: 1.5rem;
    }
  }
}
