.heading-secondary {
  height: 10rem;
  background-image: url(./img/header-2.jpg);
  background-size: cover;
  background-position: bottom;

  &__inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  & h2 {
    color: $light-color;

    @include respond(tab-port) {
      display: none;
    }
  }

  & a {
    color: $light-color;
  }
}
