.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  border: $light-color 1px solid;
  margin: 1rem;
  width: 75%;
  box-shadow: 0 0.2rem 0.5rem rgba($dark-color, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  @include respond(tab-port) {
    width: 100%;
    margin: 1rem 0;
  }

  &:hover {
    transform: scale(1.02) translateY(-0.2rem);
    box-shadow: 0 0.4rem 0.8rem rgba($dark-color, 0.5);
  }

  &:hover &__text button {
    background-color: $primary-color-darker;
  }

  &__title {
    text-align: center;
    padding: 1rem;
  }

  &__p {
    padding: 0 2rem;
  }
  & span {
    font-size: 10rem;
    display: block;
    padding: 1rem;

    @include respond(tab-port) {
      display: none;
    }
  }
}
