// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

// Overlay
.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($dark-color, 0.6);
}

// Text Syles
.title {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.title-secondary {
  font-size: 2rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.title-tertiary {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

// Container
.container {
  padding: 2rem 4rem;
  @include respond(phone) {
    padding: 1rem 1rem;
  }
}

// Buttons
.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: $primary-color;
  color: $light-color;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;

  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}

// MISC

.dark-line {
  margin-top: 2rem;
  border-bottom: $primary-color 1px solid;
}

.dark-line-0m {
  border-bottom: $primary-color 1px solid;
}

// input error
.is-invalid {
  color: #cc0033;
  & .form-input {
    border: 1px solid #cc0033;
    background-color: #fce4e4;
    &::placeholder {
      color: #cc0033;
    }
  }
}

// Modal

.modal {
  position: fixed;
  width: 400px;
  z-index: 1040;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-overlay {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
  }
  &__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    span {
      margin-left: 1rem;
    }
  }
}

.close-btn {
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: inherit;
  margin-bottom: 1rem;
  cursor: pointer;
}

// pagination
.page-item {
  display: inline-block;
  margin: 0 0.5rem;
  width: 1.5rem;
  text-align: center;
  a {
    font-size: 1.5rem;
  }
  &:hover {
    background-color: $primary-color;
    a {
      color: #eee;
    }
  }
}
